
.body-content {
  min-height: 100vh;
  background-color: #212121;
}
.sidebar {
  width: 64px;
  padding: 28px 8px;
  background-color: $unnamed-color-1a1a1a;
  @include box-shadow(0px,11px,11px,#00000029);
  text-align: center;
  &_menu-icon {
    margin-bottom: 43px;
  }
  &_item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__link {
    width: 48px;
    height: 48px;
    background-color: #262626;
    @include box-shadow(0px,1px,0px,$unnamed-color-1a1a1a);
    @include border-radius(8px);
    opacity: 1;
    img {
      width: 24px;
      &.color {
        display: none;
      }
    }
    &.active {
      .uncolor {
        display: none;
      }
      .color {
        display: block;
      }
    }
    &:hover {
      .uncolor {
        display: none;
      }
      .color {
        display: block;
      }
    }
  }
}
.body-content__right {
  width: calc(100% - 64px);
}
.header {
  background-color: #262626;
  @include box-shadow(0px,11px,11px,#00000029);
  padding: 22px 32px;
  .logo-block {
    max-width: 139px;
    width: 100%;
    margin-right: 32px;
  }
  &_left-menu {
    &_item {
      &:not(:last-child) {
        margin-right: 32px;
      }
      a {
        font-family:'Roboto-Medium',sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.24px;
        color: #808080;
        @include transition(color .5s);
        &:hover {
          color: $unnamed-color-ffb700;
        }
      }
    }
  }
  &_right-menu {
    gap: 8px;
  }
}
.language {
  &_inner {
    min-width: 124px;
    background-color: #333333;
    color: #999999;
    letter-spacing: 0px;
    padding-left: 16px;
    padding-right: 9px;
    cursor: pointer;
    height: 36px;
    @include border-radius(18px);
    @include box-shadow(0px,3px,6px,#2B2B2B4D);
  }
  position: relative;
  .select-icon {
    width: 24px;
    @include transition(transform .5s);
    &.rotate {
      @include css3-prefix(transform, rotate(180deg))
    }
  }
  &_list {
    position: absolute;
    right: 0;
    top: 35px;
    padding: 5px 0;
    min-width: 100%;
  }
  &__item {
    padding: 5px 16px;
    color: #999999;
    cursor: pointer;
    text-transform: uppercase;
    &.selected {
      display: none;
    }
  }
  &__text {
    text-transform: uppercase;
  }
  &,&__item {
    font-family: "Roboto-Medium",sans-serif;
    font-size: 14px;
    line-height: 17px;
  }
}
.main {
  padding: 69px 0;
  .game-tabs {
    width: max-content;
    margin: auto;
    &_list {
      background-color: #404040;
      &,.game-tabs__item {
        @include border-radius(18px);
      }
    }
    &__item {
      min-width: 160px;
      height: 36px;
      cursor: pointer;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.48px;
      color: $white;
      text-transform: uppercase;
      padding: 0 15px;
      @include transition(background-color .5s);
      img {
        width: 18px;
        margin-right: 8px;
      }
      &.active,&:hover {
        background-color: $unnamed-color-ffb700;
      }
    }
  }
  .title-block {
    max-width: calc(50% - 280px);
    margin-bottom: -42px;
    .page-title {
      font-family: "Roboto-Bold",sans-serif;
      font-size: 32px;
      letter-spacing: 1.28px;
      line-height: 38px;
      margin-bottom: 11px;
    }
    p {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 17px;
      opacity: .58;
    }
  }
  &-header {
    margin-bottom: 31px;
  }
  .game-filter {
    display: -ms-grid;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    .game {
      &-item {
        position: relative;
        &.game-1 {
          .game-image_block {
            width: 112.58px;
            .image-one{
              top: 26px;
              left: 20.17px;
            }
            .image-two {
              top: 26px;
              right: 0;
            }
            .image-tree {
              left: 0;
              top: 54px;
            }
          }
          &:hover {
            .image-one {
              top: 13px;
            }
            .image-two {
              top: 18px;
            }
            .image-tree {
              top: 60px;
            }
          }
        }
        &.game-2 {
          .game-image_block {
            width: 124px;
            .image-one{
              top: 48.4px;
              left: 0;
            }
            .image-two {
              top: 11px;
              right: 0;
            }
            .image-tree {
              top: 68.5px;
              right: 20px;

            }
          }
          &:hover {
            .image-one {
              top: 39.4px;
            }
            .image-two {
              top: 14px;
            }
            .image-tree {
              top: 87.5px;
            }
          }
        }
        &.game-3 {
          .game-image_block {
            width: 99px;
            .image-two{
              top: 4px;
              left: 0;
            }
            .image-one {
              top: 21px;
              right: 0;
            }
          }
          &:hover {
            .image-two {
              top: 13px;
            }
            .image-one {
              top: 10px;
            }
          }
        }
        &.game-4 {
          .game-image_block {
            width: 99px;
            .image-two{
              top: 22px;
              left: 0;
            }
            .image-one {
              top: 56px;
              right: 0;
            }
          }
          &:hover {
            .image-two,.image-one {
              top: 43px;
            }
          }
        }
        &_inner {
          text-align: center;
          background: #414141 0% 0% no-repeat padding-box;
          padding: 16px 30px 70px;
          @include box-shadow(0px,6px,12px,#00000029);
          @include border-radius(18px);
          .game-logo {
            width: 70px;
          }
          .game-image_block {
            height: 135px;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            img {
              position: absolute;
              @include transition(top .3s)
            }
          }
          .count {
            font-family: "Roboto-Bold",sans-serif;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 1.2px;
            color: #CCCCCC;
            margin-bottom: 31px;
          }
        }
        .play-button {
          height: 44px;
          padding-left: 54px;
          padding-right: 27px;
          border: 1px solid #FEB72B;
          border-radius: 22px;
          font-family: "Roboto-Medium",sans-serif;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.48px;
          color: #FEB72B;
          position: absolute;
          @include transition(all .5s);
          bottom: 28px;
          left: 50%;
          @include css3-prefix('transform', translateX(-50%));
          &:after {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            left: 23px;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: url("../images/icons/play.svg");
          }
          &:hover {
            color: $white;
            background-color: $unnamed-color-ffb700;
            &:after {
              background-image: url("../images/icons/play_white.svg");
            }
          }
        }
      }

    }
  }
}

.mobile-header {
  padding: 12px 15px;
  background-color: #262626;
  @include box-shadow(0px,11px,11px,#00000029);
  .logo-block {
    max-width: 100px;
    img {
      width: 100%;
    }
  }
  .menu-icon {
    width: 24px;
    height: 22px;
    position: relative;
    cursor: pointer;
    &:after,&:before {
      content: "";
      left: 0;
      right: 0;
      @include transition(top 0s,background-color .5s);
    }
    &:after {
      top: 0;
    }
    &:before {
      bottom: 0;
    }
    span {
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      @include transition(background-color .5s);
    }
    span,&:after,&:before {
      position: absolute;
      height: 3px;
      background-color: #b3b3b3;
    }
    &.active {
      span {
        display: none;
      }
      &:before {
        @include css3-prefix('transform', rotate(45deg));
      }
      &:after {
        @include css3-prefix('transform', rotate(-45deg));
      }
      &:before,&:after {
        top: 10px;
      }
    }
    &:hover {
      span,&:before,&:after {
        background-color: $unnamed-color-ffb700;
      }
    }
  }
  .language {
    margin-right: 20px;
  }
}

body {
  &.arabic {
    direction: rtl;
    .header {
      .logo-block {
        margin-left: 32px;
        margin-right: 0;
      }
      &_left-menu_item:not(:last-child) {
        margin-left: 32px;
        margin-right: 0;
      }
    }
    .language_inner {
      padding-left: 9px;
      padding-right: 16px;
    }
    .main {
      .title-block {
        text-align: right;
      }
    }
    .game-filter {
      .game-item {
        &.game-1 {
          .game-image_block {
            width: 112.58px;
            .image-one{
              right: 20.17px;
              left: inherit;
              @include css3-prefix('transform', rotate(120deg));
            }
            .image-two {
              left: 0;
              right: inherit;
              @include css3-prefix('transform', rotate(120deg));
            }
            .image-tree {
              left: inherit;
              right: 0;
              @include css3-prefix('transform', rotate(-120deg));
            }
          }
        }
        &.game-2 {
          .game-image_block {
            width: 124px;
            .image-one{
              left: inherit;
              right: 0;
              @include css3-prefix('transform', rotate(-90deg));
            }
            .image-two {
              right: inherit;
              left: 0;
              @include css3-prefix('transform', rotate(45deg));
            }
            .image-tree {
              left: 20px;
              right: inherit;
              @include css3-prefix('transform', rotate(-90deg));
            }
          }
        }
        &.game-3 {
          .game-image_block {
            .image-two{
              right: 0;
              left: inherit;
              @include css3-prefix('transform', rotate(45deg));
            }
            .image-one {
              left: 0;
              right: inherit;
              @include css3-prefix('transform', rotate(-45deg));
            }
          }
        }
        &.game-4 {
          .game-image_block {
            .image-two{
              left: inherit;
              right: 0;
              @include css3-prefix('transform', rotate(-180deg));
            }
            .image-one {
              right: inherit;
              left: 0;
              @include css3-prefix('transform', rotate(-240deg));
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    padding: 22px 15px;
    &_left-menu_item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    .logo-block{
      max-width: 110px;
      margin-right: 15px;
    }
    &_right-menu {
      button{
        width: 106px;
      }
      .language_inner {
        min-width: 110px;
      }
    }
  }
  .main {
    .game-filter {
      grid-template-columns: repeat(3, 1fr);
    }
    .game-tabs {
      margin: 0 0 0 auto;
    }
    .title-block {
      max-width: calc(100% - 500px);
    }
  }
  body {
    &.arabic {
      .main {
        .game-tabs {
            margin: 0 auto 0 0;
          &__item {
            img {
              margin-right: 0;
              margin-left: 8px;
            }
          }
        }
        .game-filter {
          .game-item {
            .play-button {
              padding-left: 27px;
              padding-right: 54px;
              &:after {
                right: 23px;
                left: inherit;
                @include css3-prefix('transform', rotate(180deg));
              }
            }
          }
        }
      }
      .header {
        .logo-block,&_left-menu_item:not(:last-child){
          margin-left: 15px !important;
          margin-right: 0;
        }
        &_left-menu_item:last-child {
          margin-left: 0;
        }
      }
      .header_right-menu {
        .language_inner {
          padding-right: 16px;
          padding-left: 9px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
  }
  .header_right-menu {
    button {
      width: 122px;
      background-color: transparent;
      border: 1px solid $unnamed-color-ffb700;
      color: $unnamed-color-ffb700;
      letter-spacing: 0.56px;
      font-family: "Roboto-Medium",sans-serif;
      font-size: 14px;
      line-height: 17px;
      height: 36px;
      @include border-radius(18px);
      @include box-shadow(0px,3px,6px,#2B2B2B4D);
      @include transition(all .5s);
      &.active,&:hover {
        background-color: $unnamed-color-ffb700;
        color: $unnamed-color-1a1a1a;
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .main {
    .game {
      &-tabs__item {
        min-width: 130px;
      }
    }
    .title-block {
      max-width: calc(100% - 400px);
    }
  }
}
@media only screen and (max-width: 767px) {
  .header {
    padding: 40px 15px;
    position: absolute;
    left: 64px;
    right: 0;
    top: 60px;
    z-index: 1;
    display: none;
    border-top: 1px solid $unnamed-color-707070;
    .logo-block,.language {
      display: none;
    }
    &_left-menu {
      &_item {
        a {
          display: block;
          text-align: center;
          padding: 10px 0;
          &:hover {
            color: $unnamed-color-ffb700;
          }
        }
        margin-right: 0 !important;
      }
    }
    &_right-menu {
      button {
        font-family:'Roboto-Medium',sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.24px;
        color: #808080;
        width: 100%;
        padding: 10px 0;
        &:hover {
          color: $unnamed-color-ffb700;
        }
      }
    }
  }
  .main {
    padding: 40px 0;
    .title-block {
      max-width: 100%;
      text-align: center;
      margin-bottom: 40px;
    }
    .game-tabs {
      margin: auto;
    }
    .game-filter {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  body {
    &.arabic {
      .mobile-header {
        .language {
          margin-left: 20px;
        }
      }
      .language_inner {
        padding-right: 16px;
        padding-left: 9px;
      }
      .main {
        .title-block {
          text-align: center;
        }
        .game-tabs {
          margin: auto;
        }
      }
      .header {
        left: 0;
        right: 64px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 56px;
    padding: 35px 7px;
    &__link {
      width: 40px;
      height: 40px;
      img {
        width: 20px;
      }
    }
  }
  .body-content__right {
    width: calc(100% - 56px);
  }
  .main {
    .game-filter {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .header {
    top: 56px;
    left: 56px;
  }
  body {
    &.arabic {
      .header {
        right: 56px;
        left: 0;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .main {
    .game-tabs {
      width: 100%;
      &_list {
        display: block !important;
        background-color: transparent;
      }
      &__item {
        background-color: #404040;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
  .language {
    font-size: 12px;
    margin-right: 12px;
    &_inner {
      min-width: 110px;
      height: 32px;
    }
  }
}