<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <title>Lobby</title>
    <!--<link rel="icon" href="{{url('/images/icons/favicon.png')}}" sizes="16x16"/>-->
    <!--<link rel="shortcut icon" href="{{url('/images/icons/favicon.ico')}}" sizes="16x16"/>-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{url('/images/icons/apple-touch-57.png')}}">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url('/images/icons/apple-touch-72.png')}}">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url('/images/icons/apple-touch-114.png')}}">-->
    <link rel="stylesheet" type="text/css" href="sass/app.css">

</head>
<body>
    <div class="body-content d-flex">
        <div class="body-content__left sidebar">
            <button type="button" class="btn btn-link p-0 sidebar_menu-icon"><img src="images/icons/menu-icon.svg" alt="menu icon"></button>
            <nav class="sidebar_inner">
                <ul class="sidebar_list list-unstyled">
                    <li class="sidebar_item"><a href="#" class="d-flex align-items-center justify-content-center sidebar__link active"><img src="images/icons/ic_home.svg" alt="home icon" class="uncolor"><img src="images/icons/ic_home_yellow.svg" alt="home icon" class="color"></a></li>
                    <li class="sidebar_item"><a href="#" class="d-flex align-items-center justify-content-center sidebar__link"><img src="images/icons/sport.svg" alt="sport icon" class="uncolor"><img src="images/icons/sport_yellow.svg" alt="sport icon" class="color"></a></li>
                    <li class="sidebar_item"><a href="#" class="d-flex align-items-center justify-content-center sidebar__link"><img src="images/icons/cart.svg" alt="cart icon" class="uncolor"><img src="images/icons/cart_yellow.svg" alt="cart icon" class="color"></a></li>
                    <li class="sidebar_item"><a href="#" class="d-flex align-items-center justify-content-center sidebar__link"><img src="images/icons/person.svg" alt="person icon" class="uncolor"><img src="images/icons/person_yellow.svg" alt="person icon" class="color"></a></li>
                    <li class="sidebar_item"><a href="#" class="d-flex align-items-center justify-content-center sidebar__link"><img src="images/icons/card.svg" alt="card icon" class="uncolor"><img src="images/icons/card_yellow.svg" alt="card icon" class="color"></a></li>
                    <li class="sidebar_item"><a href="#" class="d-flex align-items-center justify-content-center sidebar__link"><img src="images/icons/dice.svg" alt="dice icon" class="uncolor"><img src="images/icons/dice_yellow.svg" alt="dice icon" class="color"></a></li>
                    <li class="sidebar_item"><a href="#" class="d-flex align-items-center justify-content-center sidebar__link"><img src="images/icons/plane.svg" alt="plane icon" class="uncolor"><img src="images/icons/plane_yellow.svg" alt="plane icon" class="color"></a></li>
                </ul>
            </nav>
        </div>
        <div class="body-content__right">
            <div class="header align-items-center justify-content-between">
                <div class="header_left-menu d-md-flex">
                    <div class="logo-block"><a href="#" class="logo-link d-block"><img src="images/icons/page_logo.svg" alt="page logo"></a></div>
                    <ul class="header_left-menu_list d-md-flex list-unstyled">
                        <li class="header_left-menu_item"><a href="#">PROMOTIONS</a></li>
                        <li class="header_left-menu_item"><a href="#">ATIONS</a></li>
                    </ul>
                </div>
                <div class="header_right-menu d-md-flex">
                    <button type="button" class="btn register-button d-block active">REGISTER</button>
                    <button type="button" class="btn login-button">LOGIN</button>
                    <div class="language">
                        <div class="language_inner d-flex justify-content-between align-items-center">
                            <p class="language__text">ENGLISH</p>
                            <img src="images/icons/ic_.svg" alt="select icon" class="select-icon">
                        </div>
                        <ul class="language_list list-unstyled d-none">
                            <li class="language__item selected" data-id="eng">ENGLISH</li>
                            <li class="language__item" data-id="arabic">عربى</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="mobile-header d-flex d-md-none align-items-center justify-content-between">
                <div class="logo-block"><a href="#" class="logo-link d-block"><img src="images/icons/page_logo.svg" alt="page logo"></a></div>
                <div class="d-flex align-items-center">
                    <div class="language">
                        <div class="language_inner d-flex justify-content-between align-items-center">
                            <p class="language__text">ENGLISH</p>
                            <img src="images/icons/ic_.svg" alt="select icon" class="select-icon">
                        </div>
                        <ul class="language_list list-unstyled d-none">
                            <li class="language__item selected" data-id="eng">ENGLISH</li>
                            <li class="language__item" data-id="arabic">عربى</li>
                        </ul>
                    </div>
                    <div class="menu-icon d-md-none">
                        <span></span>
                    </div>
                </div>

            </div>
            <div class="main">
                <div class="container main-container">
                    <div class="main-header">
                        <div class="title-block">
                            <h1 class="page-title">Title here</h1>
                            <p class="">Body copy</p>
                        </div>
                        <div class="game-tabs">
                            <ul class="game-tabs_list list-unstyled d-flex">
                                <li class="game-tabs__item d-flex align-items-center justify-content-center active" data-filter="game-item">
                                    <img src="images/icons/person_white.svg" alt="person icon">
                                    <span>All Games</span>
                                </li>
                                <li class="game-tabs__item d-flex align-items-center justify-content-center" data-filter="casino">
                                    <img src="images/icons/cart_white.svg" alt="cart icon">
                                    <span>Live Casino</span>
                                </li>
                                <li class="game-tabs__item d-flex align-items-center justify-content-center" data-filter="popular-games">
                                    <img src="images/icons/person_white.svg" alt="person icon">
                                    <span>Popular Games</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="game-filter">
                        <div class="game-item game-1 casino">
                            <a href="#" class="game-item_inner d-block">
                                <img src="images/icons/game-logo.png" alt="" class="game-logo">
                                <div class="game-image_block">
                                    <img src="images/lotto1.svg" alt="lotto" class="image-one">
                                    <img src="images/lotto2.svg" alt="lotto" class="image-two">
                                    <img src="images/lotto3.svg" alt="lotto" class="image-tree">
                                </div>
                                <p class="count">1x2 Gaming</p>
                            </a>
                            <button type="button" class="btn play-button">PLAY NOW</button>
                        </div>
                        <div class="game-item game-2 casino">
                            <a href="#" class="game-item_inner d-block">
                                <img src="images/icons/game-logo.png" alt="" class="game-logo">
                                <div class="game-image_block">
                                    <img src="images/backgammon1.svg" alt="backgammon" class="image-one">
                                    <img src="images/backgammon2.svg" alt="backgammon" class="image-two">
                                    <img src="images/backgammon3.svg" alt="backgammon" class="image-tree">
                                </div>
                                <p class="count">1x2 Gaming</p>
                            </a>
                            <button type="button" class="btn play-button">PLAY NOW</button>
                        </div>
                        <div class="game-item game-3 popular-games">
                            <a href="#" class="game-item_inner d-block">
                                <img src="images/icons/game-logo.png" alt="" class="game-logo">
                                <div class="game-image_block">
                                    <img src="images/boiling2.png" alt="boiling" class="image-one">
                                    <img src="images/boiling1.png" alt="boiling" class="image-two">

                                </div>
                                <p class="count">1x2 Gaming</p>
                            </a>
                            <button type="button" class="btn play-button">PLAY NOW</button>
                        </div>
                        <div class="game-item game-4 popular-games">
                            <a href="#" class="game-item_inner d-block">
                                <img src="images/icons/game-logo.png" alt="" class="game-logo">
                                <div class="game-image_block">
                                    <img src="images/dice2.png" alt="dice" class="image-one">
                                    <img src="images/dice1.png" alt="dice" class="image-two">
                                </div>
                                <p class="count">1x2 Gaming</p>
                            </a>
                            <button type="button" class="btn play-button">PLAY NOW</button>
                        </div>
                        <div class="game-item game-1 casino">
                            <a href="#" class="game-item_inner d-block">
                                <img src="images/icons/game-logo.png" alt="" class="game-logo">
                                <div class="game-image_block">
                                    <img src="images/lotto1.svg" alt="lotto" class="image-one">
                                    <img src="images/lotto2.svg" alt="lotto" class="image-two">
                                    <img src="images/lotto3.svg" alt="lotto" class="image-tree">
                                </div>
                                <p class="count">1x2 Gaming</p>
                            </a>
                            <button type="button" class="btn play-button">PLAY NOW</button>
                        </div>
                        <div class="game-item game-2 casino">
                            <a href="#" class="game-item_inner d-block">
                                <img src="images/icons/game-logo.png" alt="" class="game-logo">
                                <div class="game-image_block">
                                    <img src="images/backgammon1.svg" alt="backgammon" class="image-one">
                                    <img src="images/backgammon2.svg" alt="backgammon" class="image-two">
                                    <img src="images/backgammon3.svg" alt="backgammon" class="image-tree">
                                </div>
                                <p class="count">1x2 Gaming</p>
                            </a>
                            <button type="button" class="btn play-button">PLAY NOW</button>
                        </div>
                        <div class="game-item game-3 popular-games">
                            <a href="#" class="game-item_inner d-block">
                                <img src="images/icons/game-logo.png" alt="" class="game-logo">
                                <div class="game-image_block">
                                    <img src="images/boiling2.png" alt="boiling" class="image-one">
                                    <img src="images/boiling1.png" alt="boiling" class="image-two">

                                </div>
                                <p class="count">1x2 Gaming</p>
                            </a>
                            <button type="button" class="btn play-button">PLAY NOW</button>
                        </div>
                        <div class="game-item game-4">
                            <a href="#" class="game-item_inner d-block">
                                <img src="images/icons/game-logo.png" alt="" class="game-logo">
                                <div class="game-image_block">
                                    <img src="images/dice2.png" alt="dice" class="image-one">
                                    <img src="images/dice1.png" alt="dice" class="image-two">
                                </div>
                                <p class="count">1x2 Gaming</p>
                            </a>
                            <button type="button" class="btn play-button">PLAY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
