* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:'RobotoCondensed',sans-serif;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
a,button{
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
.btn:focus {
  box-shadow: none;
}
ul {
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}