$unnamed-color-ff1c1c: #FF1C1C;
$unnamed-color-1a1a1a: #1A1A1A;
$unnamed-color-f14100: #F14100;
$unnamed-color-ffb700: #FFB700;
$unnamed-color-707070: #707070;
$text-color: #cccccc;
$white: #fff;
$black: #000;